<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

<body>

    <p>Nice to see you again, {{ session['user']['name'] }}</p>

    <form name="submit_entry" action="/submitdata" method='POST'>
        <label for="entry">Today I am thankful for...</label>
        <input type="text" name="entry" id='entry'>
        <input type="submit" value='Submit' class='btn'>
    </form>
    <a href="/user/signout/">LOGOUT</a>
    <div>

        {% for i in day %}{% for a in log %}
        <div>On {{i}}, I was thankful for {{a}}</div>
        {% endfor %}{% endfor %}



    </div>
    <script src="/static/js/log.ks"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>

</html>