<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

<body>

    <p>Nice to see you again, {{ session['user']['name'] }}</p>


    <a href="/user/signout/">LOGOUT</a>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
    <h1> ALL posts</h1>

    <hr>
    <h2>Create New Blog Post:</h2>
    <form action='/posts' method='POST'>
        Title: <input type='text' name='title' id='title'>
        <br>
        Post: <input type='text' name='content' id='content'>
        <br>
        <input type='submit' value='Post'>
    </form>
    <hr>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
    {% endfor %}
</body>

</html>